
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Administratie</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/font.css">

    <style type="text/css">
        /**
        * Hide when Angular is not yet loaded and initialized 
        */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
        }
    </style>
</head>

<body ng-app="mswFrontendApp" layout="row" ng-controller='menuCtrl as menuController' ng-cloak >
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar layout="row" class="md-whiteframe-z1">
    </md-toolbar>

    <md-list>
        <md-list-item hide-gt-md="">
            <md-button ng-click="menuController.toggleMenu()" class="md-primary" id="close_main_button">
                Verberg menu
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/home" ng-show="menuController.isAuth()" class="md-primary" id="home_main_button">
                Home
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/bestellingen" ng-show="menuController.isAuth()" class="md-primary" id="facturen_main_button" ng-click="menuController.mainBestellingenButtonPressed()">
                Bestellingen
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/facturen" ng-show="menuController.isAuth()" class="md-primary" id="facturen_main_button" ng-click="menuController.mainFacturenButtonPressed()">
                Facturen
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/rekeningen" ng-show="menuController.isAuth()" class="md-primary" id="rekeningen_main_button" ng-click="menuController.mainRekeningenButtonPressed()">
                Rekeningen
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/declaraties" ng-show="menuController.isAuth()" class="md-primary" id="declaratie_main_button" ng-click="menuController.mainDeclaratiesButtonPressed()">
                Declaratie
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/afschriften" ng-show="menuController.isAuth()" class="md-primary" id="declaratie_main_button" ng-click="menuController.mainAfschriftenButtonPressed()">
                Bankafschriften
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/contacten" ng-show="menuController.isAuth()" class="md-primary" id="contacten_main_button" ng-click="menuController.mainContactenButtonPressed()">
                Contacten
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/overzichten" ng-show="menuController.isAuth()" class="md-primary" id="overzichten_main_button" ng-click="menuController.mainOverzichtenButtonPressed()">
                Overzichten
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/administratie" ng-show="menuController.isAuth()" class="md-primary" id="gebruikers_main_button">
                Administratie
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/account" ng-show="menuController.isAuth()" class="md-primary" id="account_main_button">
                Account
            </md-button>
        </md-list-item>
        <md-list-item >
            <md-button ng-href="#/gebruikers" ng-show="menuController.isAdmin()" class="md-primary" id="gebruikers_main_button" ng-click="menuController.mainGebruikersButtonPressed()">
                Gebruikers
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>

<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button class="menu" hide-gt-sm ng-click="menuController.toggleMenu()" aria-label="Show User List">
            <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>

        <h1 class="md-toolbar-tools">ZZP Administratie</h1>

        <md-button ng-click="menuController.openLoginPopup()" ng-hide="menuController.isAuth()" class="md-primary" id="login_button" >
            Login
        </md-button>
        <md-button ng-click="menuController.logOff()" ng-show="menuController.isAuth()" class="md-primary" id="logoff_button">
            Logoff
        </md-button>

    </md-toolbar>

    <md-content flex id="content">
        <div ng-controller="MainCtrl">
            <div ng-view=""></div>
        </div>
    </md-content>

    </md-content>


</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>

<script src="bower_components/pdfmake/build/pdfmake.min.js"></script>
<script src="bower_components/pdfmake/build/vfs_fonts.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="scripts/menu/app.js"></script>
<script src="scripts/menu/interceptor.js"></script>

<script src="scripts/model/administratieModels.js"></script>

<script src="scripts/menu/services/dataService.js"></script>
<script src="scripts/menu/services/authService.js"></script>
<script src="scripts/menu/controllers/loginController.js"></script>
<script src="scripts/menu/controllers/mainController.js"></script>
<script src="scripts/menu/controllers/menuController.js"></script>

<script src="scripts/facturen/FactuurGuiConstants.js"></script>
<script src="scripts/facturen/directives/factuurRow.js"></script>
<script src="scripts/facturen/directives/factuurRegelRow.js"></script>
<script src="scripts/facturen/services/factuurGuiService.js"></script>
<script src="scripts/facturen/services/factuurDataService.js"></script>
<script src="scripts/facturen/controllers/facturenController.js"></script>
<script src="scripts/facturen/controllers/facturenListController.js"></script>
<script src="scripts/facturen/controllers/factuurEditController.js"></script>
<script src="scripts/facturen/controllers/factuurEditContactController.js"></script>
<script src="scripts/facturen/controllers/factuurEditDetailsController.js"></script>
<script src="scripts/facturen/controllers/factuurRegelEditController.js"></script>
<script src="scripts/facturen/controllers/searchContactController.js"></script>

<script src="scripts/contacten/ContactGuiConstants.js"></script>
<script src="scripts/contacten/directives/contactRow.js"></script>
<script src="scripts/contacten/services/contactDataService.js"></script>
<script src="scripts/contacten/services/contactGuiService.js"></script>
<script src="scripts/contacten/controllers/contactenController.js"></script>
<script src="scripts/contacten/controllers/contactenListController.js"></script>
<script src="scripts/contacten/controllers/contactEditController.js"></script>

<script src="scripts/gebruikers/GebruikerGuiConstants.js"></script>
<script src="scripts/gebruikers/directives/gebruikerRow.js"></script>
<script src="scripts/gebruikers/services/gebruikerDataService.js"></script>
<script src="scripts/gebruikers/services/gebruikerGuiService.js"></script>
<script src="scripts/gebruikers/controllers/gebruikersController.js"></script>
<script src="scripts/gebruikers/controllers/gebruikersListController.js"></script>
<script src="scripts/gebruikers/controllers/gebruikerEditController.js"></script>
<script src="scripts/gebruikers/controllers/gebruikerSetPasswordController.js"></script>

<script src="scripts/administratie/services/administratieGuiService.js"></script>
<script src="scripts/administratie/services/administratieDataService.js"></script>
<script src="scripts/administratie/controllers/administratieEditController.js"></script>

<script src="scripts/account/AccountGuiConstants.js"></script>
<script src="scripts/account/services/accountDataService.js"></script>
<script src="scripts/account/services/accountGuiService.js"></script>
<script src="scripts/account/controllers/accountController.js"></script>
<script src="scripts/account/controllers/accountEditController.js"></script>
<script src="scripts/account/controllers/accountSetPasswordController.js"></script>

<script src="scripts/rekeningen/RekeningGuiConstants.js"></script>
<script src="scripts/rekeningen/directives/rekeningRow.js"></script>
<script src="scripts/rekeningen/services/rekeningDataService.js"></script>
<script src="scripts/rekeningen/services/rekeningGuiService.js"></script>
<script src="scripts/rekeningen/controllers/rekeningenController.js"></script>
<script src="scripts/rekeningen/controllers/rekeningenListController.js"></script>
<script src="scripts/rekeningen/controllers/rekeningenEditController.js"></script>

<script src="scripts/declaraties/DeclaratieGuiConstants.js"></script>
<script src="scripts/declaraties/directives/declaratieRow.js"></script>
<script src="scripts/declaraties/services/declaratieDataService.js"></script>
<script src="scripts/declaraties/services/declaratieGuiService.js"></script>
<script src="scripts/declaraties/controllers/declaratiesController.js"></script>
<script src="scripts/declaraties/controllers/declaratiesListController.js"></script>
<script src="scripts/declaraties/controllers/declaratiesEditController.js"></script>

<script src="scripts/afschriften/AfschriftGuiConstants.js"></script>
<script src="scripts/afschriften/directives/afschriftRow.js"></script>
<script src="scripts/afschriften/directives/rubriceerRow.js"></script>
<script src="scripts/afschriften/directives/checkandfixRow.js"></script>
<script src="scripts/afschriften/services/afschriftDataService.js"></script>
<script src="scripts/afschriften/services/afschriftGuiService.js"></script>
<script src="scripts/afschriften/controllers/afschriftenController.js"></script>
<script src="scripts/afschriften/controllers/afschriftenListController.js"></script>
<script src="scripts/afschriften/controllers/afschriftenListController.js"></script>
<script src="scripts/afschriften/controllers/rubriceerListController.js"></script>
<script src="scripts/afschriften/controllers/checkAndFixListController.js"></script>
<script src="scripts/afschriften/controllers/afschriftenEditController.js"></script>


<script src="scripts/bestellingen/BestellingGuiConstants.js"></script>
<script src="scripts/bestellingen/directives/bestellingRow.js"></script>
<script src="scripts/bestellingen/directives/bestellingRegelRow.js"></script>
<script src="scripts/bestellingen/services/bestellingGuiService.js"></script>
<script src="scripts/bestellingen/services/bestellingDataService.js"></script>
<script src="scripts/bestellingen/controllers/bestellingenController.js"></script>
<script src="scripts/bestellingen/controllers/bestellingenListController.js"></script>
<script src="scripts/bestellingen/controllers/bestellingEditController.js"></script>
<script src="scripts/bestellingen/controllers/bestellingEditContactController.js"></script>
<script src="scripts/bestellingen/controllers/bestellingEditDetailsController.js"></script>
<script src="scripts/bestellingen/controllers/bestellingRegelEditController.js"></script>
<script src="scripts/bestellingen/controllers/bestellingSearchContactController.js"></script>

<script src="scripts/overzichten/controllers/overzichtController.js"></script>

<!-- endbuild -->
</body>
</html>
