

/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background:#15f5f5 ;
}


.even{
  background:#B2DFDB ;

}
.odd{
  background:#80CBC4 ;
}

input.err {
  background-color : #d1d1d1;
}

.md-sidenav-left {
  width : 200px !important;
  min-width : 200px !important;
  max-width : 200px !important;
}

.panel{
  position: absolute;
  top: 0px;
  right: -2px;

}

.panel.ng-hide {
  right: -200px;
}
.panel.ng-hide-add, .panel.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 0s linear all;
}


.panel.ng-hide-add-active, .panel.ng-hide-remove-active {
  transition: all ease-in-out 0.2s;
}
.panel.ng-show-add-active {
  display: block;
}