
body {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background:#15f5f5 ;
}


.even{
  background:#B2DFDB ;

}
.odd{
  background:#80CBC4 ;
}

input.err {
  background-color : #d1d1d1;
}

.md-sidenav-left {
  width : 200px !important;
  min-width : 200px !important;
  max-width : 200px !important;
}


/*md-tabs-canvas{*/
  /*height:0px;*/
/*}*/