<div data-ng-controller="LoginCtrl as logincontroller">
    <div ng-hide="registerUserMode">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Login</h2>
                </div>
            </md-toolbar>
            <p>Gebruik onderstaande knop om in te loggen via facebook</p>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <!--<span flex></span>-->
                <md-button href="/facebook" style="margin-right:20px;" id="submit_button">
                Login via facebook
                </md-button>

            </md-dialog-actions>
        </form>
        <br>
        Versie: {{version}}<br>
        <small>({{buildtime}})</small>

    </div>
</div>

