
<div ng-cloak >


    <md-tabs md-selected="selectedIndex" md-dynamic-height md-swipe-content >
        <md-tab label="tab1">
            <md-content class="md-padding">
                <ng-include src="'/facturen/views/partial_list.html'"></ng-include>
            </md-content>
        </md-tab>
        <md-tab label="tab2" ng-disabled="factuurTabDisabled">
            <md-content class="md-padding">
                <ng-include src="'/facturen/views/partial_edit.html'"></ng-include>
            </md-content>
        </md-tab>
        <md-tab label="tab3" ng-disabled="factuurRegelTabDisabled">
            <md-content class="md-padding" >
                <ng-include src="'/facturen/views/partial_edit_row.html'"></ng-include>
            </md-content>
        </md-tab>
        <md-tab label="tab3" ng-disabled="searchContactTabDisabled">
            <md-content class="md-padding" >
                <ng-include src="'/facturen/views/search_contacten.html'"></ng-include>
            </md-content>
        </md-tab>
        <md-tab label="tab4" ng-disabled="factuurDetailTabDisabled">
            <md-content class="md-padding" >
                <ng-include src="'/facturen/views/partial_edit_detail.html'"></ng-include>
            </md-content>
        </md-tab>
        <md-tab label="tab5" ng-disabled="factuurEditContactTabDisabled">
            <md-content class="md-padding" >
                <ng-include src="'/facturen/views/partial_edit_contact.html'"></ng-include>
            </md-content>
        </md-tab>
    </md-tabs>

</div>

