<div ng-cloak data-ng-controller="FactuurRegelEditController as factuurRegelEditController">

<md-subheader class="md-no-sticky">Factuurregel</md-subheader>
{{data.selectedfactuurregel.uuid}}
<form>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Factuur regel</h2>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <md-input-container>
            <label>Omschrijving:</label>
            <input ng-model="data.selectedfactuurregel.omschrijving" required id="selectedfactuurregel_omschrijving">
        </md-input-container>
        <md-input-container>
            <label>Aantal:</label>
            <input ng-model="data.selectedfactuurregel.aantal" required id="selectedfactuurregel_aantal">
        </md-input-container>
        <md-input-container>
            <label>Tarief:</label>
            <input ng-model="data.selectedfactuurregel.stuksPrijs" required id="selectedfactuurregel_tarief">
        </md-input-container>
        <md-input-container>
            <label>Btw:</label>
            <input ng-model="data.selectedfactuurregel.btwPercentage" required id="selectedfactuurregel_btw">
        </md-input-container>
    </md-dialog-content>

</form>

<br><br>
<md-button class="md-raised md-primary"  ng-click="factuurRegelEditController.saveAddRegel()" ng-show="data.addRegelMode">
    Add
</md-button>
<md-button class="md-raised md-primary"  ng-click="factuurRegelEditController.saveEditRegel()" ng-hide="data.addRegelMode">
    Save
</md-button>
<md-button class="md-raised md-primary"  ng-click="factuurRegelEditController.cancelAddRegel()">
    Cancel
</md-button>
<md-button class="md-raised md-primary"  ng-click="factuurRegelEditController.deleteRegel()">
    Delete
</md-button>
</div>