<div ng-cloak data-ng-controller="FactuurEditController as facturenEditcontroller">
    <br>

    <b>Factuur Details:</b>
    <table>
        <tr>
            <td>FactuurNummer :</td>
            <td>{{factuurGui.selectedfactuur.factuurNummer}}</td>
        </tr>
        <tr>
            <td>Datum :</td>
            <td>{{factuurGui.selectedfactuur.factuurDate}}</td>
        </tr>
        <tr>
            <td>Betaald :</td>
            <td>{{factuurGui.selectedfactuur.betaald}}</td>
        </tr>
    </table>


    <md-button class="md-raised md-primary" ng-click="facturenEditcontroller.editDetails()">
        Bewerk factuur gegevens
    </md-button>

    <br>
    <br>

    <b>Klant Gegevens:</b>
    <table>
        <tr>
            <td>Naam :</td>
            <td>{{factuurGui.selectedfactuur.klant.naam}}</td>
        </tr>
        <tr>
            <td>Adres :</td>
            <td>{{factuurGui.selectedfactuur.klant.adres}}</td>
        </tr>
        <tr>
            <td>Postcode :</td>
            <td>{{factuurGui.selectedfactuur.klant.postcode}}</td>
        </tr>
        <tr>
            <td>Woonplaats :</td>
            <td>{{factuurGui.selectedfactuur.klant.woonplaats}}</td>
        </tr>
        <tr>
            <td>Land :</td>
            <td>{{factuurGui.selectedfactuur.klant.land}}</td>
        </tr>
    </table>

    <md-button class="md-raised md-primary" ng-click="facturenEditcontroller.searchContact()">
        Zoek contact
    </md-button>

    <md-button class="md-raised md-primary" ng-click="facturenEditcontroller.editContactDetails()">
        Bewerk Contact
    </md-button>



    <br>
    <br>
    <b>Factuur regels:</b>
    <md-list ng-hide="factuurGui.selectedfactuur.editMode">
        <md-list-item ng-repeat="factuurregel in factuurGui.selectedfactuur.factuurRegels" ng-class-odd="'odd'"
                      ng-class-even="'even'">
            <div md-ink-ripple ng-click="facturenEditcontroller.editRegel(factuurregel.uuid)" style="width: 100%;">
                <factuurRegelRow></factuurRegelRow>
                <factuur-regel-row></factuur-regel-row>
            </div>
        </md-list-item>
    </md-list>
    <md-button class="md-raised md-primary" ng-click="facturenEditcontroller.addRegel()">
        Nieuwe regel
    </md-button>


    <br><br>
    <md-button class="md-raised md-primary" ng-click="facturenEditcontroller.add()" ng-show="addMode">
        Factuur toevoegen
    </md-button>
    <md-button class="md-raised md-primary" ng-click="facturenEditcontroller.save()" ng-hide="addMode">
        Factuur opslaan
    </md-button>
    <md-button class="md-raised md-primary" ng-click="facturenEditcontroller.cancel()">
        Annuleren
    </md-button>
    <md-button class="md-raised md-primary" ng-click="facturenEditcontroller.delete()">
        Verwijder Factuur
    </md-button>

</div>