<div ng-cloak data-ng-controller="FactuurEditDetailsController as facturenEditDetailscontroller">
    <md-input-container flex>
        <label>Nummer</label>
        <input ng-model="data.factuurToEdit.factuurNummer" STYLE="background-color: #B2DFDB;">
    </md-input-container>


    <md-input-container flex>
        <label>Datum</label>
        <input ng-model="data.factuurToEdit.factuurDate" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <md-input-container flex>
        <label>Gekoppelde bestelling</label>
        <input ng-model="data.factuurToEdit.gekoppeldeBestellingNummer" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <b>Boekingen:</b><br>
    <span ng-repeat="boeking in data.factuurToEdit.boekingen">
        {{facturenEditDetailscontroller.echoBoeking(boeking)}}
        <md-button class="md-raised md-primary" ng-click="facturenEditDetailscontroller.removeBoeking(boeking.uuid)"  >
            Verwijder boeking
        </md-button>
    </span>
    <br>


    <md-button class="md-raised md-primary" ng-click="facturenEditDetailscontroller.saveDetails()" ng-hide="facturenEditDetailscontroller.notDirty()">
        Opslaan
    </md-button>
    <md-button class="md-raised md-primary" ng-click="facturenEditDetailscontroller.cancelEditDetails()" >
        Annuleren
    </md-button>
</div>