<div ng-cloak data-ng-controller="FactuurEditDetailsController as facturenEditDetailscontroller">
    <md-input-container flex>
        <label>Nummer</label>
        <input ng-model="data.factuurToEdit.factuurNummer" STYLE="background-color: #B2DFDB;">
    </md-input-container>


    <md-input-container flex>
        <label>Datum</label>
        <input ng-model="data.factuurToEdit.declaratieDate" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <label>Betaald:
        <input type="checkbox" ng-model="data.factuurToEdit.betaald">
    </label><br/>

    <md-button class="md-raised md-primary" ng-click="facturenEditDetailscontroller.saveDetails()" ng-hide="facturenEditDetailscontroller.notDirty()">
        Opslaan
    </md-button>
    <md-button class="md-raised md-primary" ng-click="facturenEditDetailscontroller.cancelEditDetails()" ng-hide="facturenEditDetailscontroller.notDirty()">
        Annuleren
    </md-button>
</div>