<div ng-cloak data-ng-controller="AccountSetPasswordController as accountSetPasswordController">
    <br>
    <md-input-container flex>
        <label>Nieuw wachtwoord</label>
        <input ng-model="newPassword" type="password" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <br>


    <br><br>
    <md-button class="md-raised md-primary" ng-click="accountSetPasswordController.setPassword()" >
        Set wachtwoord
    </md-button>
    <md-button class="md-raised md-primary" ng-click="accountSetPasswordController.cancel()">
        Annuleren
    </md-button>
</div>