
<div ng-cloak >


    <md-tabs md-selected="afschriftGui.selectedIndex" md-dynamic-height md-swipe-content >
        <md-tab label="tab1">
            <md-content class="md-padding">
                <ng-include src="'/afschriften/views/partial_list.html'"></ng-include>
            </md-content>
        </md-tab>
        <md-tab label="tab2" ng-disabled="afschriftTabDisabled">
            <md-content class="md-padding">
                <ng-include src="'/afschriften/views/partial_edit.html'"></ng-include>
            </md-content>
        </md-tab>
        <md-tab label="tab3" ng-disabled="rubriceerTabDisabled">
            <md-content class="md-padding">
                <ng-include src="'/afschriften/views/rubriceer_list.html'"></ng-include>
            </md-content>
        </md-tab>
    </md-tabs>

</div>

