<div ng-cloak data-ng-controller="AfschriftEditController as afschriftenEditcontroller">
    <br>
    <md-input-container flex>
        <label>Nummer</label>
        <input ng-model="data.afschriftToEdit.nummer" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <md-input-container flex>
        <label>Rekening</label>
        <input ng-model="data.afschriftToEdit.rekening" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <md-input-container flex>
        <label>omschrijving</label>
        <input ng-model="data.afschriftToEdit.omschrijving" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <md-input-container flex>
        <label>relatienaam</label>
        <input ng-model="data.afschriftToEdit.relatienaam" STYLE="background-color: #B2DFDB;">
    </md-input-container>
    <md-input-container flex>
        <label>boekdatum</label>
        <input ng-model="data.afschriftToEdit.boekdatum" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <md-input-container flex>
        <label>bedrag</label>
        <input ng-model="data.afschriftToEdit.bedrag" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <b>Gekoppelde fakturen/rekeningen:</b><br>
    <span ng-repeat="boeking in data.afschriftToEdit.boekingen">
        {{afschriftenEditcontroller.echoBoeking(boeking)}}
        <md-button class="md-raised md-primary" ng-click="afschriftenEditcontroller.removeBoeking(boeking.uuid)"  >
            Verwijder boeking
        </md-button>
    </span>

    <br>

    <br><br>
    <md-button class="md-raised md-primary" ng-click="afschriftenEditcontroller.add()"  ng-show="afschriftenEditcontroller.showAddButton()">
        Afschrift toevoegen
    </md-button>
    <md-button class="md-raised md-primary" ng-click="afschriftenEditcontroller.save()"  ng-show="afschriftenEditcontroller.showSaveButton()">
        Afschrift opslaan
    </md-button>
    <md-button class="md-raised md-primary" ng-click="afschriftenEditcontroller.cancel()">
        Annuleren
    </md-button>
    <md-button class="md-raised md-primary" ng-click="afschriftenEditcontroller.delete()" ng-show="afschriftenEditcontroller.showDeleteButton()">
        Verwijder
    </md-button>
</div>