
<div ng-cloak data-ng-controller="FacturenCtrl as facturencontroller">
    <br><br>
    Name: {{ gebruiker.name }}<br>
    Username: {{ gebruiker.username }}<br>
    Password: {{ gebruiker.password }}<br>
    <input ng-model="gebruiker.name" STYLE="background-color: #B2DFDB;">


    <md-list-item ng-repeat="factuur in gebruiker.facturen" ng-class-odd="'odd'" ng-class-even="'even'">
        <div md-ink-ripple ng-click="teamscontroller.edit('{{factuur.uuid}}')" style="width: 100%;"  >
            {{ factuur.uuid }} : {{ factuur.omschrijving }}
        </div>
    </md-list-item>



    <!--<div ng-show="showList">-->
        <!--<ng-include src="'/views/teams/partial_list.html'"></ng-include>-->
    <!--</div>-->

    <!--<div ng-show="showEdit">-->
        <!--<ng-include src="'/views/teams/partial_edit.html'"></ng-include>-->
    <!--</div>-->

    <!--<div  ng-show="showNew">-->
        <!--<ng-include src="'/views/teams/partial_add.html'"></ng-include>-->
    <!--</div>-->

    <md-button class="md-raised md-primary"  ng-click="facturencontrollerr.save()">
        Opslaan
    </md-button>
    <md-button class="md-raised md-primary"  ng-click="save()">
        Opslaan2
    </md-button>

</div>

