<div id="afschriftenControllerId" ng-cloak data-ng-controller="AfschriftenListController as afschriftenListController">
    Afschriften

    <input type="file"
           onchange="angular.element(document.getElementById('afschriftenControllerId')).controller().uploadFile(this)"/>

    <md-button class="md-raised md-primary" ng-click="afschriftenListController.getRubriceerRegels()">
        Boek onverwerkte regels
    </md-button>

    <md-button class="md-raised md-primary" ng-click="afschriftenListController.getCheckAndFixRegels()">
        Check&Fix
    </md-button>

    <md-list>

        <md-list-item ng-repeat="afschrift in data.afschriften"
                      ng-click="afschriftenListController.edit(afschrift.uuid)" ng-class-odd="'odd'"
                      ng-class-even="'even'">
            <div md-ink-ripple style="width: 100%;">
                <afschrift-row></afschrift-row>
            </div>
        </md-list-item>
    </md-list>



</div>