<div id="afschriftenControllerId" ng-cloak data-ng-controller="RubriceerListController as rubriceerListController">
    Rubriceer regels

    <md-button class="md-raised md-primary" ng-click="rubriceerListController.startRubriceer()">
        Rubriceer
    </md-button>

    <md-list>
        <md-list-item ng-repeat="regel in data.rubriceerRegels.rubriceerRegelList"
                      ng-class-odd="'odd'"
                      ng-class-even="'even'">
            <div md-ink-ripple style="width: 100%;">
                <!--{{regel.afschiftUuid}}-->
                <rubriceer-row></rubriceer-row>
            </div>
        </md-list-item>
    </md-list>



</div>