<h1>Administratie</h1>

Username: {{ team.name }}

<table>
    <tr ng-repeat="factuur in facturen" >
        <td>{{ factuur.uuid }}</td>
        <td>&nbsp;</td>
        <td>{{ factuur.omschrijving }}</td>
        <td>&nbsp;</td>
        <td>
            <button ng-click="edit('{{factuur.uuid}}')">
                edit
            </button>
        </td>
        <td>&nbsp;</td>
        <td>
            <button ng-click="delete('{{factuur.uuid}}')">
                remove
            </button>
        </td>
    </tr>
</table>

<br>
<br>

<button ng-click="newFactuur()">
    Nieuwe factuur
</button>


<div class="editFactuur" ng-show="showEditFactuur">
    <h2>Edit factuur</h2>
    <input type="text" name="omschrijving" ng-model="selectedfactuur.omschrijving" required>
    <br><br>
    <button ng-click="save()">
        Opslaan
    </button>
    <button ng-click="cancel()">
        Annuleren
    </button>
</div>

<br>
<br>

<div  class="editFactuur" ng-show="showNewFactuur">
    <h2>Bewerk Factuur</h2>
    <input type="text" name="omschrijving" ng-model="newfactuur.omschrijving" required>
    <br><br>
    <button ng-click="add()">
        Toevoegen
    </button>
    <button ng-click="cancel()">
        Annuleren
    </button>
</div>

