<div ng-cloak data-ng-controller="ContactEditController as contactenEditcontroller">
    Contact {{selectedcontact.naam}}
    <md-button class="md-raised md-primary" ng-click="contactenEditcontroller.delete()">
        Verwijder
    </md-button>
    <br>

    <md-input-container flex>
        <label>KlantNummer</label>
        <input ng-model="data.selectedcontact.klantNummer" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <md-input-container flex>
        <label>Naam</label>
        <input ng-model="data.selectedcontact.naam" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <md-input-container flex>
        <label>Woonplaats</label>
        <input ng-model="data.selectedcontact.woonplaats" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <md-input-container flex>
        <label>Adres</label>
        <input ng-model="data.selectedcontact.adres" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <md-input-container flex>
        <label>Postcode</label>
        <input ng-model="data.selectedcontact.postcode" STYLE="background-color: #B2DFDB;">
    </md-input-container>

    <md-input-container flex>
        <label>Land</label>
        <input ng-model="data.selectedcontact.land" STYLE="background-color: #B2DFDB;">
    </md-input-container>


    <br>


    <br><br>
    <md-button class="md-raised md-primary" ng-click="contactenEditcontroller.add()" ng-show="addMode">
        Contact toevoegen
    </md-button>
    <md-button class="md-raised md-primary" ng-click="contactenEditcontroller.save()" ng-hide="addMode">
        Contact opslaan
    </md-button>
    <md-button class="md-raised md-primary" ng-click="contactenEditcontroller.cancel()">
        Annuleren
    </md-button>
</div>