
<div ng-cloak >

    <div ng-show="showList">

        <ng-include src="'/views/facturen/partial_list.html'"></ng-include>

        <div class="panel" ng-show="showEdit" style="background:white;width:100%; height:100%">
            <ng-include src="'/views/facturen/partial_edit.html'"></ng-include>
        </div>



        <!--<div class="panel" ng-show="checked" style="border:1px solid #dddddd;background:orange;width:300px">-->
            <!--<ng-include src="'/views/        -->
        <!---->

    </div>

    <!--<div ng-show="showEdit">-->
        <!--<ng-include src="'/views/facturen/partial_edit.html'"></ng-include>-->
    <!--</div>-->

    <div  ng-show="showNew">
        <ng-include src="'/views/facturen/partial_add.html'"></ng-include>
    </div>



    <!--<section layout="row" flex>-->
        <!--<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="editScherm">-->
            <!--<md-content layout-padding>-->
                <!--<ng-include src="'/views/facturen/partial_edit.html'"></ng-include>-->
            <!--</md-content>-->
        <!--</md-sidenav>-->
    <!--</section>-->


    <!--Show <input type="checkbox" ng-model="showEdit" />-->

    <md-button class="md-raised md-primary" ng-click="facturencontroller.page1()"  >
        page1
    </md-button>
    <md-button class="md-raised md-primary" ng-click="facturencontroller.page2()"  >
        page2
    </md-button>
    <md-button class="md-raised md-primary" ng-click="facturencontroller.page3()"  >
        page3
    </md-button>


    <md-tabs md-selected="selectedIndex" md-dynamic-height md-swipe-content >
        <md-tab label="tab1">
            <md-content class="md-padding">
                <ng-include src="'/views/facturen/partial_list.html'"></ng-include>
            </md-content>
        </md-tab>
        <md-tab label="tab2" >
            <md-content class="md-padding">
                <ng-include src="'/views/facturen/partial_edit.html'"></ng-include>
            </md-content>
        </md-tab>
        <md-tab label="tab3" >
            <md-content class="md-padding">
                <ng-include src="'/views/facturen/partial_edit_row.html'"></ng-include>
            </md-content>
        </md-tab>
    </md-tabs>

</div>

