
<div ng-cloak data-ng-controller="FacturenCtrl as facturencontroller">

    <div ng-show="showList">
        <ng-include src="'/views/facturen/partial_list.html'"></ng-include>
    </div>

    <div ng-show="showEdit">
        <ng-include src="'/views/facturen/partial_edit.html'"></ng-include>
    </div>

    <div  ng-show="showNew">
        <ng-include src="'/views/facturen/partial_add.html'"></ng-include>
    </div>



    <section layout="row" flex>
        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="editScherm">
            <md-content layout-padding>
                <ng-include src="'/views/facturen/partial_edit.html'"></ng-include>
            </md-content>
        </md-sidenav>
    </section>


</div>

