<div ng-cloak data-ng-controller="FactuurEditController as facturenEditcontroller">
Factuur {{selectedfactuur.factuurNummer}}
<md-button class="md-raised md-primary"  ng-click="facturenEditcontroller.delete()">
    Verwijder
</md-button>
<br>

<md-input-container flex>
    <label>Datum</label>
    <input ng-model="selectedfactuur.factuurDate" STYLE="background-color: #B2DFDB;">
</md-input-container>

<label>Betaald:
    <input type="checkbox" ng-model="selectedfactuur.betaald">
</label><br/>

<br>

<b>Jouke de vries:</b>
<br>
Adres1<br>
Adres2<br>
Adres3<br>
<br>
<br>
<md-list ng-hide="selectedfactuur.editMode">
    <md-list-item ng-repeat="factuurregel in selectedfactuur.factuurRegels" ng-class-odd="'odd'" ng-class-even="'even'">
        <div md-ink-ripple  ng-click="facturenEditcontroller.editRegel(factuurregel.uuid)"  style="width: 100%;"  >
            <factuurRegelRow></factuurRegelRow>
            <factuur-regel-row></factuur-regel-row>
        </div>
    </md-list-item>
</md-list>
<md-button class="md-raised md-primary"  ng-click="facturenEditcontroller.addRegel()">
    Nieuwe regel
</md-button>



<br><br>
<md-button class="md-raised md-primary"  ng-click="facturenEditcontroller.add()" ng-show="addMode">
    Factuur toevoegen
</md-button>
<md-button class="md-raised md-primary"  ng-click="facturenEditcontroller.save()" ng-hide="addMode">
    Factuur opslaan
</md-button>
<md-button class="md-raised md-primary"  ng-click="facturenEditcontroller.cancel()">
    Annuleren
</md-button>
</div>