<div ng-cloak data-ng-controller="BestellingEditContactController as bestellingenEditContactcontroller">

    <md-input-container flex>
        <label>Naam</label>
        <input ng-model="data.bestellingToEdit.klant.naam" STYLE="background-color: #B2DFDB;">
    </md-input-container>
    <md-input-container flex>
        <label>adres</label>
        <input ng-model="data.bestellingToEdit.klant.adres" STYLE="background-color: #B2DFDB;">
    </md-input-container>
    <md-input-container flex>
        <label>postcode</label>
        <input ng-model="data.bestellingToEdit.klant.postcode" STYLE="background-color: #B2DFDB;">
    </md-input-container>
    <md-input-container flex>
        <label>woonplaats</label>
        <input ng-model="data.bestellingToEdit.klant.woonplaats" STYLE="background-color: #B2DFDB;">
    </md-input-container>
    <md-input-container flex>
        <label>Land</label>
        <input ng-model="data.bestellingToEdit.klant.land" STYLE="background-color: #B2DFDB;">
    </md-input-container>
    <label>Toevoegen aan adresboek:
        <input type="checkbox" ng-model="data.addToAdresboek">
    </label><br/>


    <md-button class="md-raised md-primary" ng-click="bestellingenEditContactcontroller.saveContactDetails()"  ng-hide="bestellingenEditContactcontroller.notDirty()">
        Opslaan
    </md-button>
    <md-button class="md-raised md-primary" ng-click="bestellingenEditContactcontroller.cancelEditDetails()">
        Annuleren
    </md-button>

</div>