<table width="100%"><tr>
    <td width="70">{{ regel.afschrift.boekingType}}</td>
    <td width="100">{{regel.afschrift.boekdatum}}</td>
    <td width="80">&euro; {{ regel.afschrift.bedrag }}</td>
    <td width="200">{{ regel.afschrift.relatienaam }}</td>
    <td width="*">{{ regel.afschrift.omschrijving }}</td>
</tr></table>

<table width="100%">
    <tr>
        <td width="400">{{ regel.rubriceerAction}}</td>
        <td width="100">{{ regel.rekeningNummer }}</td>
        <td width="100">{{ regel.faktuurNummer }}</td>
        <td width="*">
            <md-button class="md-raised md-primary" ng-click="rubriceerListController.setRubriceerRegelToNone(regel)">
                Geen actie
            </md-button>
            <md-button class="md-raised md-primary" ng-click="rubriceerListController.setRubriceerRegelToPriveBoeking(regel)">
                Prive boeking
            </md-button>
            <md-button ng-show="rubriceerListController.isBetaling(regel)" class="md-raised md-primary" ng-click="rubriceerListController.setRubriceerRegelToMaakRekening(regel)">
                Maak rekening
            </md-button>
            <md-button ng-show="rubriceerListController.isBetaling(regel)" class="md-raised md-primary" ng-click="rubriceerListController.setRubriceerRegelToBetalngZonderFacuur(regel)">
                Betaling zonder factuur
            </md-button>
            <md-button ng-hide="rubriceerListController.isBetaling(regel)" class="md-raised md-primary" ng-click="rubriceerListController.setRubriceerRegelToInkomstenZonderFactuur(regel)">
                Inkomsten zonder factuur
            </md-button>
            <p >
        </td>
    </tr>
</table>
